.ImgMain{
    margin-top: 60px;
    justify-content: center;
}

.LogoMain{
    margin-top: -645px;
}

.Main-text{
    justify-content: center;
    margin-top: -155px;
    text-align: center;
    font-weight: bold;
    display: block;
    border: 5px solid white;
    margin-left: 415px;
    margin-right: 415px;
    background-color: white;
}

button{
    margin-left: 10px;
}