.ImgMain{
    margin-top: 10px;
    justify-content: center;
}

.LogoMain{
    position: absolute;
    left: 39%;
    top: 0;
}

.Main-text{
    text-align: center;
    font-weight: bold;
    display: block;
    margin: 1rem;
    margin-bottom: 2rem;
    width: 40%;
}

button{
    margin-left: 10px;
}